{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "RESTAPI_JWT_CI",
    "contact": {}
  },
  "host": "muhammadabdiel.000webhostapp.com",
  "basePath": "/",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/categories": {
      "get": {
        "description": "",
        "summary": "{{url}}/api/categories",
        "tags": [
          "Categories"
        ],
        "operationId": "{{url}}/api/categories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "default": "",
              "items": {
                "$ref": "#/definitions/Category"
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "",
        "summary": "Post{{url}}/api/categories",
        "tags": [
          "Categories"
        ],
        "operationId": "Post{{url}}/api/categories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/x-www-form-urlencoded"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/categories/6": {
      "get": {
        "description": "",
        "summary": "{{url}}/api/categories/6",
        "tags": [
          "Categories"
        ],
        "operationId": "{{url}}/api/categories/6",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            },
            "headers": {}
          }
        }
      }
    },
    "/api/categories/6/update": {
      "post": {
        "description": "",
        "summary": "{{url}}/api/categories/5/update",
        "tags": [
          "Categories"
        ],
        "operationId": "{{url}}/api/categories/5/update",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/categories/3/delete": {
      "post": {
        "description": "",
        "summary": "{{url}}/api/categories/5/delete",
        "tags": [
          "Categories"
        ],
        "operationId": "{{url}}/api/categories/5/delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/register": {
      "post": {
        "description": "",
        "summary": "{{url}}/register",
        "tags": [
          "Authentication"
        ],
        "operationId": "{{url}}/register",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/x-www-form-urlencoded"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/login": {
      "post": {
        "description": "",
        "summary": "{{url}}/login",
        "tags": [
          "Authentication"
        ],
        "operationId": "{{url}}/login",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/x-www-form-urlencoded"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/logout": {
      "post": {
        "description": "",
        "summary": "{{url}}/logout",
        "tags": [
          "Authentication"
        ],
        "operationId": "{{url}}/logout",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/x-www-form-urlencoded"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/products": {
      "get": {
        "description": "",
        "summary": "{{url}}/api/products",
        "tags": [
          "Products"
        ],
        "operationId": "{{url}}/api/products",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "default": "",
              "items": {
                "$ref": "#/definitions/Product"
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "",
        "summary": "Post{{url}}/api/products",
        "tags": [
          "Products"
        ],
        "operationId": "Post{{url}}/api/products",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/x-www-form-urlencoded"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "category_id",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "price",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "quantity",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "description",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/products/10": {
      "get": {
        "description": "",
        "summary": "{{url}}/api/products/10",
        "tags": [
          "Products"
        ],
        "operationId": "{{url}}/api/products/10",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Product"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/products/8/update": {
      "post": {
        "description": "",
        "summary": "{{url}}/api/products/8/update",
        "tags": [
          "Products"
        ],
        "operationId": "{{url}}/api/products/8/update",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/api/products/8/delete": {
      "post": {
        "description": "",
        "summary": "{{url}}/api/products/6/delete",
        "tags": [
          "Products"
        ],
        "operationId": "{{url}}/api/products/6/delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "User": {
      "title": "User",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "username",
        "email",
        "password",
        "created_at",
        "updated_at"
      ]
    },
    "Category": {
      "title": "Category",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "name",
        "created_at",
        "updated_at"
      ]
    },
    "Product": {
      "title": "Product",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "category_id": {
          "type": "integer",
          "format": "int32"
        },
        "price": {
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "name",
        "category_id",
        "price",
        "quantity",
        "description",
        "created_at",
        "updated_at"
      ]
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Categories",
      "description": ""
    },
    {
      "name": "Authentication",
      "description": ""
    },
    {
      "name": "Products",
      "description": ""
    }
  ]
}